.login{
    position:relative;
    
    // img{
    //     position:relative;
    // }
    .box{
        position:absolute;
        top:35%;
        left:50%;
        transform: translateX(-50%);
        width: 810px;
        min-height: 585px;
        border:1px solid #efefef;
        padding: 50px 0;
        background: #FFF;
        border-radius: 5px;
        text-align: center;
        &-top{
            font-size: 40px;
            font-family: PingFang-SC-Medium, PingFang-SC;
            font-weight: 500;
            color: #F04349;
            margin: 0 auto;
            letter-spacing: 1.19px;
            display: inline-flex;
            align-items: center;
            img{
                width: 43px;
                height: 43px;
                margin-right: 15px;
            }
        }
        &-note{
            color:#676767;
            margin: 5px 0 70px;
            font-size: 16px;
        }
        &-form{

            text-align: center;
            .input{
                width: 250px;
                margin-bottom: 15px;
            }
            .btn{
                width: 250px;
                height: 40px;
                margin-top: 20px;
            }
        }
    }
}