.header{
    min-width: 1250px;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    height: 40px;
    background: #2E3036;
    align-items: center;
    .left{
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #F04349;
        img{
            width: 23px;
            height: 24px;
            margin-right: 10px;
        }
        span{
            font-size: 14px;
            font-family: PingFang-SC-Medium, PingFang-SC;
            font-weight: 500;
            color: #CCCCCC;
            margin-left: 25px;
        }
    }
    .right{
        font-size: 14px;
        font-family: PingFang-SC-Medium, PingFang-SC;
        font-weight: 500;
        color: #CCCCCC;
        display: flex;
        align-items: center;
        Link{
            color: #CCCCCC;
        }
        span{
            margin-right: 15px;
            cursor: pointer;
        }
    }
}