.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #2E3036;
    align-items: center;
    .auther{
        font-size: 14px;
        font-family: PingFang-SC-Regular, PingFang-SC;
        font-weight: 400;
        color: #A8AAAD;
    }
}